.header{
    text-align: center;
}
.header-logo{
    height:80px;
    width:289px;
}
/* menu part style  */
.header nav{
    background-color: black;
    line-height: 40px;
    /* text-align: left; */
}
.header nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;

}
.header nav a:hover{
    background-color: lightgray;
}